<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set your browser-->
    <add key="Browser" value="Chrome"/>
    <!--Timeout in seconds to wait for each command.-->
    <add key="ElementTimeout" value="15"/>
    <!-- GMail login name -->
    <add key="logname" value="testepamacc@gmail.com"/>
    <!-- GMail password -->
    <add key="password" value="testepamac"/>
  </appSettings>
</configuration>